<%- include ("../partials/header"); %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p>
				<a class="lead" href="/campgrounds" style="text-decoration: none; color: black">
				My dish
			</a>
			</p>
			<div class="list-group">
				<li class="list-group-item active">Info</li>
				<li class="list-group-item">Contact</li>
				<li class="list-group-item">Location</li>
			</div>
			<div id="map"></div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				 <img class="img-responsive center-block" src="<%= campground.image %>">    <!-- Image of post (gonna make it multiple slide images-->
				<div class="caption-full">
					<h4 class="pull-right">
						<strong>$<%= campground.price%>/dish</strong>
					</h4>
					<h4>
						<a><%= campground.name %></a>
					</h4>
					<p>
						<%= campground.description %>
					</p>
					<p>
					  <em>Submitted by: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
					</p>
					<% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
					<a class="btn btn-warning" href ="/campgrounds/<%= campground._id%>/edit">Edit</a>
					<form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are You Sure To Delete?');">
						<button class="btn btn-danger">
							Delete
						</button>
					</form>
					<% } %>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
				</div>
				<hr>
				<% campground.comments.forEach((comment) => { %>
					<div class="row">
						<div class="col-md-12">
							<h4><strong><%= comment.author.username %></strong></h4>
							<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
							<p>
							<%= comment.text %>
							</p>
							<% if(currentUser && comment.author.id.equals(currentUser._id)  || currentUser && currentUser.isAdmin){ %>
							<a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
								<form id="delete-form" action ="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" onsubmit="return confirm('Are You Sure To Delete?');">
									<input type="submit"  class="btn btn-danger btn-xs" value="delete">
								</form>
							<% } %>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>


<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeXOLyNx_tzts7ETpSUvoXJiDMkw3bDHY&callback=initMap"></script>



<%- include ("../partials/footer"); %>